SIMPLEFIN_URL=
RCLONE_CONFIG_WEBDAV_PASS=pass #must be obscured using rclone obscure
RCLONE_CONFIG_WEBDAV_USER=user
RCLONE_CONFIG_WEBDAV_VENDOR=other
RCLONE_CONFIG_WEBDAV_URL=
RCLONE_CONFIG_WEBDAV_TYPE=webdav
PUID=1000
PGID=100